 <%- include('../include/head');-%>
     <link rel="stylesheet" href="/css/login.css" />  
 </head>
 <body>
 <%-include('../include/navbarnew')%>
  

   
<main class="main">
   <h1>Reset Password</h1>
   
    
  <form action="/new-password" class="form" method="POST">
    
    <div class="input-container">
      <span>Password:</span>
      <input type="password" name="password" class="take-input" />
    </div>
     <input type="hidden" name="userId" value="<%=userId%>">
     <input type="hidden" name="passwordToken" value="<%=passwordToken%>">
     <input type="hidden" name="_csrf" value="<%=csrfTokens%>">
    <button type="submit" class="submit-button">Update Password</button>
  </form>
</main>   

<%-include('../include/end')%>

